body {
  background-color: #181818;
  color: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app__body {
  display: flex;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.header {
  background-color: #282c34;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 20px;
}

.top-right-corner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  gap: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.points-display {
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #0056b3;
}

input[type="file"].button {
  padding: 5px;
  font-size: 16px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px 0;
}
